{% extends "layout.html" %}
{% import "macros.html" as m %}
{% block title %}{% if let Some(h) = heading %}{{ h.name }}{% else if let Some(t) = tag %}Topics tagged {{ t.name }}{% else %}Latest topics{% endif %} - {{ site_title }}{% endblock %}
{% block content %}
{{ banner|safe }}
{% if let Some(h) = heading %}{% if !category_nav %}
<h1 class="category-heading">
  {% if let Some(p) = h.parent %}<a href="{{ p.url }}">{{ p.name }}</a> &rsaquo; {% endif %}<a href="{{ h.url }}">{{ h.name }}</a>
</h1>
{% if !h.subcategories.is_empty() %}
<div class="subcategories">
  {% for s in h.subcategories %}<div class="subcategory"><a href="{{ s.url }}">{{ s.name }}</a>{% if let Some(d) = s.description %} <span class="description">{{ d|safe }}</span>{% endif %}</div>{% endfor %}
</div>
{% endif %}
{% endif %}{% endif %}
{% if let Some(t) = tag %}
<h1 class="tag-heading"><a href="{{ t.url }}" class="discourse-tag">{{ t.name }}</a></h1>
{% endif %}
{% if !nav.is_empty() %}{% call m::list_controls(nav, breadcrumbs, chrome, self.heading_id(), admin_controls, category_controls, category_nav) %}{% endif %}
<div id="list-updates" class="list-updates"></div>
<div class="container list-container --topic-list">
 <div class="row full-width">
  <div id="list-area">
   <div class="contents">
  <table class="topic-list">
    <caption class="sr-only">Topic list, column headers with buttons are sortable.</caption>
    <thead class="topic-list-header">
      <tr>
        <th class="topic-list-data default" data-sort-order="default" scope="col">{% if bulk_select() %}<button class="btn-transparent bulk-select no-text" title="toggle bulk selection of topics"><svg class="fa d-icon d-icon-list-check svg-icon fa-width-auto svg-string" width="1em" height="1em" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"><use href="#list-check"></use></svg></button> {% endif %}<span>Topic</span></th>
        <th aria-label="Posters" class="topic-list-data posters" data-sort-order="posters" scope="col"><span class="sr-only">Posters</span></th>
        <th class="topic-list-data posts sortable num" data-sort-order="posts" scope="col"><button>Replies</button></th>
        <th class="topic-list-data views sortable num" data-sort-order="views" scope="col"><button>Views</button></th>
        <th class="topic-list-data activity sortable num" data-sort-order="activity" scope="col"><button>Activity</button></th>
      </tr>
    </thead>
    <tbody class="topic-list-body">
      {% for row in rows %}{{ row|safe }}{% endfor %}
    </tbody>
  </table>
   </div>
  </div>
 </div>
  {% if let Some(url) = more_url %}
  <div class="more-topics"><a href="{{ url }}" rel="next">Next page</a></div>
  {% endif %}
</div>
{% if !category_controls.is_empty() %}<script src="{{ base_path }}/assets/tracking-menu.js"></script>{% endif %}
{% endblock %}
{#- The new-or-updated banner and a member's counts arrive on the page's
    stream. -#}
{% block live %}{% if !live_filter.is_empty() %}{% call m::live_sink(base_path, bus_position, 0, false, live_filter, live_since, chrome.live_params) %}{% else %}{% call m::live_sink_for_member(viewer.is_some(), base_path, bus_position, chrome.live_params) %}{% endif %}{% endblock %}
